

#em_andamento {
    border:1px solid #FFBD1B;
    padding:2px 5px;
    color:#FFBD1B;
    margin:0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    border-radius: 3px;
    font-weight: bold;
}

.proj_page{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width:100%;
    max-width: 800px;
    margin: 50px auto;
    text-align:center;
}

.itens{
    width: 100%;
    text-align: left;
}

.itens > a {
    margin:5px;
}

.historico{
    width:100%;
    text-align: left;
    margin:25px 0;
}

.link_author{
    color:#E1A000;
}

.link_author:hover{
    color:#E1A000;
    text-decoration: underline;
}