<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <title>Gerenciamento {% block title %}{% endblock %}.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/manager.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header2">
            <nav class="nav2 nav2_edit item_nav">
                <h1 id="titleheader">Projetos<span>.</span></h1>
                <ul>
                    <li><a href="index.html" alt="" id="active">Home</a></li>
                    <li><a href="projeto.html" alt="">Projetos</a></li>
                    <li><a href="contato.html" alt="">Contato</a></li>
                    <li>
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.name }}
                            </button>

                            <div class="dropdown-menu">
                                  <a class="dropdown-item" href="gerenciamento.html">Meus projetos</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="{{url_for('auth.logout')}}">Sair</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="break_row"></div>

            <section class="nav_gerencia item_nav">
                <nav class="nav nav-tabs nav-fill">
                    <a class="nav-item nav-link active" href="#">Projetos</a>
                    <a class="nav-item nav-link" href="gerenciamento_usuario.html"alt="">Usuarios</a>
                    <a href="gerenciamento_notif.html" class="nav-item nav-link notification_person">
                        <span>Notificações</span>
                        <span class="badge">3</span>
                    </a>
                </nav>
            </section>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>© Copyright 2020 - 2021 - All Rights Reserved</p>
        <div>
            <a href="http://www.uesc.br/" title="Acesse o site da Uesc" >UESC</a>
            <img src="{{url_for('static', filename='img/logo.png')}}" />
        </div>
    </footer>

    <script>
        function onSubmit(token) {
          document.getElementById("demo-form").submit();
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
