<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <title>Project. - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    {% block header %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header2">
        <nav class="nav2">
            <h1 id="titleheader">Projetos<span>.</span></h1>
            <ul>
                <li><a href="{{ url_for('main.index') }}" alt="" id="{{'active' if request.endpoint == 'main.index'}}">Home</a></li>
                <li><a href="{{ url_for('main.projects') }}" alt="" id="{{'active' if request.endpoint == 'main.projects'}}">Projetos</a></li>
                <li><a href="{{ url_for('main.contact') }}" alt="" id="{{'active' if request.endpoint == 'main.contact'}}">Contato</a></li>
                <li>
                    {% if current_user.is_authenticated %}
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.name.split(' ')[0] }}
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{url_for('main.profile', user_id=current_user.id)}}">Perfil</a>
                                <a class="dropdown-item" href="{{url_for('manager.project_list')}}">Meus projetos</a>
                                <a class="dropdown-item" href="{{url_for('manager.notify')}}">Notificações</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{url_for('auth.update')}}">Editar perfil</a>
                                <a class="dropdown-item" href="{{url_for('auth.logout')}}">Sair</a>
                            </div>
                     </div>
                    {% else %}
                        <a href="{{url_for('auth.login')}}" alt="" id="button">Acessar</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    
    {% block content %}
    {% endblock %}

    <footer>
        <p>© Copyright 2020 - 2021 - All Rights Reserved</p>
        <div>
            <a href="http://www.uesc.br/" title="Acesse o site da Uesc" >UESC</a>
            <img src="{{url_for('static', filename='img/logo.png')}}" />
        </div>
    </footer>

    <script>
        function onSubmit(token) {
          document.getElementById("demo-form").submit();
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
