{% extends 'base1.html' %}


{% block content %}

<section class="content">
    <h2 id="title_h2">{% block title %}Acessar{% endblock %}</h2>
    <hr id="line"/>

    <section class="form">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}.
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="/login">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Senha" required>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-outline-primary">Acessar</button>
                <a href="{{url_for('auth.register')}}" type="submit" class="btn btn-outline-success">Registrar-se</a>
            </div>
        </form>

    </section>

</section>

{% endblock %}
