{% extends 'base1.html' %}

{% block header %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_register.css')}}">
{% endblock %}

{% block content %}
<section class="content">
    <h2 id="title_h2">{% block title %}Registrar-se{% endblock %}</h2>
    <hr id="line"/>

    <section class="form">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}.
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="/register">
            <div class="form-group">
                <label for="name">Nome*</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Nome" required>
            </div>
            <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="specialty">Especialidade*</label>
                <input type="text" name="specialty" id="specialty" class="form-control" placeholder="Especialidade" required>
            </div>
            <div class="form-group">
                <label for="summary">Resumo</label>
                <textarea class="form-control" name="summary" id="summary" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="ref">Link de referência</label>
                <input type="text" name="ref" id="ref" class="form-control" placeholder="(lattes, redes sociais, etc)">
            </div>
            <div class="form-group">
                <label for="password">Senha*</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Senha" required>
            </div>
            <div class="form-group">
                <label for="password_verify">Repetir senha*</label>
                <input type="password" name="password_verify" id="password_verify" class="form-control" placeholder="Repetir Senha" required>
            </div>

            <div class="button">
                <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
            </div>
        </form>

    </section>
</section>
{% endblock %}
